.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container header {
    margin: 8.4rem 0 2.4rem;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container header img {
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    margin-left: .7rem;
}

.container header div {
    display: flex;
    align-items: center;
}

.container input {
    width: 60%;
    padding: 2.4rem;

    background-color: #e6e6e6;
    border-radius: .5rem;
    border: none;
    
    font-size: 1.6rem;
}

.container button {
    width: 60%;
    padding: 2.4rem;

    font-weight: 700;
    background-color: #ea4c89;
    color: #ffffff;

    border-radius: .5rem;
    margin: 1.2rem 0 8.4rem;
    border: none;
    cursor: pointer;

    transition: filter 0.2s;

    font-size: 1.6rem;
}

.container button:hover {
    filter: brightness(0.9);
}