.card {
    height: 10rem;
    width: 50%;

    background: #735bf2;
    color: #fff;

    border-radius: 1rem;
    margin-bottom: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.4rem;
}

.card strong {
    font-size: 1.8rem;
}